@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color:  #020025b3;
    --secondary-color:  #00A896;
    --accent1-color: #02C39A;
    --accent2-color: #F0F3BD;

    --heading-font: 'Reddit Sans', serif;
    --paragraph-font: 'Reddit Sans', serif;
    
    --nav-background-color: #00A896;
    --nav-link-color: #020025b3;
    --nav-hover-link-color: #3000E7;
    --nav-hover-background-color: #02C39A;
}

* {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 20px;
}

body {
    max-width: 1024px;
    margin: auto;
}

/* BASE HEADER AND FOOTER SELECTORS */

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--nav-background-color);
    border-radius: 0 0 1rem 1rem;
 }

header img {
    height: 150px;
    width: auto;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--nav-link-color);
}

header a:hover {
    color: var(--nav-hover-link-color);
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 2rem;
    margin-top: 1rem;
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    border-radius: 1rem 1rem 0 0;
}

footer a {
    color: var(--nav-link-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
}

footer a img {
    width: 50px;
    height: auto;
    padding: .5rem;
}

/* ABOUT US SELECTORS */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    background-color: var(--accent2-color);
    width: 80%;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    opacity: .9;
    top: 3rem;
    border-radius: 0 1rem 1rem 0;
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    bottom: 10%;
    width: 40%;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 0 1rem 1rem 0;
}

.hero article h2 {
    margin: 1rem;
}

.hero article img {
    float: right;
    width: 100px;
    border-radius: 1rem 0 0 1rem;
}

section.history {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

section.history h2 {
    grid-column: 1/3;
    margin-bottom: 0;
}

section.history p {
    grid-column: 1/2;
    margin: 0;
}

section.history img  {
    width: 200px;
    height: auto;
    grid-column: 2/3;
    border-radius: 1rem;
}

section.adventure {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

section.adventure h2 {
    grid-column: 1/6;
}

section.adventure figure {
    width: 90%;
}

section.adventure img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

/* CONTACT PAGE SELECTORS */

section.contact {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: center;
}

section.contact h1 {
    grid-column: 1/3;
    text-align: center;
}

section.contact iframe {
    border: .2rem solid var(--primary-color);
    border-radius: 1rem;
    width: 90%;
}

section.team {
    display: grid;
    text-align: center;
}

section.team h2 {
    grid-column: 1/4;
}

section.team img {
    display: block;
    margin: 1rem auto;
    border-radius: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin: auto;
    gap: 1.25rem;
}

form h2 {
    text-align: center;
}

form div, fieldset {
    display: grid;
    gap: .5rem 1rem;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    text-align: right;
}

fieldset {
    position: relative;
}

legend {
    position: absolute;
    top: 0;
    left: 10px;
}

fieldset div {
    display: flex;
    grid-column: 2/3;
}

form textarea {
    height: 5rem;
    align-self: start;
}

form input, 
form textarea {
    padding: .5rem 1rem;
    font-size: .9rem;
    margin-right: 2rem;
}

form input[type="radio"] {
    width: 1rem;
    margin: .5rem 0;
}

fieldset {
    border: none;
    padding: 0;
}

form input[type="checkbox"] {
    width: 1rem;
    margin: 0;
}

form button {
    border: 0;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    height: 3rem;
    font-size: larger;
    width: 50%;
    margin: auto;
}

form button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.subscribe {
    display: flex;
    justify-content: center;
}

/* TRIPS PAGE SELECTORS */

.trips {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.trips-description {
    grid-column: 1/3;
    display: grid;
}

.trips-description figure {
    margin: .2rem;
}

.trips-description h1 {
    grid-column: 1/4;
}

.trips-description p {
    padding: 0 1rem;
}

.trips-description .name {
    font-weight: bolder;
}


.trips-description img {
    width: 100%;
    border-radius: .3rem;
}

.trips-table table {
    background-color: var(--primary-color);
    color: white;
    border: .2rem solid black;
    border-radius: .5rem;
}

.trips-table th {
    background-color: var(--secondary-color);
    color: black;
}

.trips-table th, td {
    padding: .75rem;
}

.trips-action h2 {
    margin: 3rem auto;
}

.button-link {
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 1rem;
    background-color: var(--accent1-color);
    text-decoration: none;
    border-radius: 1rem;
}

.button-link:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

/* HOME PAGE SELECTORS */

.home {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem 0;
}

.home .hero {
    grid-column: 1/3;
}

.home img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    margin: .25rem 0;
}

.home form {
    width: 100%;
}

.home label {
    text-align: right;
}

.home input {
    margin-left: 1rem;
}

.home .action {
    text-align: center;
}

.home .action h2 {
    width: 75%;
    margin: 4rem auto;
}