* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin-left: 20px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 500px;
}

aside {
    width: 240px;
    /* text-align: center; */
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 1rem;
    left: 2rem;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #05668dab;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid darkblue;
    padding: 1rem;
    background-color: #05668D;
    color: #F0F3BD;
}