nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 500px;
}

aside {
    width: 200px;
    margin: 10px;
    border: 2px solid #f0f3bd9c;
    padding: 20px;
    background-color: #05668D;
    color: #F0F3BD;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #05668dab;
    text-align: center;
}